.env
node_modules
dist
artifacts
cache
typechain-types
/docs
/infra
ENV_GUIDE.md
sync-tokens.js
build
deployments

packages.zip
services
tools

.vscode
contracts/evm/.openzeppelin

contracts/bridge/.openzeppelin
contracts/bridge/deployments

contracts/solana/target

/setup.sh
/pnpm-lock.yaml